@{
    ViewBag.Title = "Liên hệ";
}
<link href="~/Content/Css/CssContact/style.css" rel="stylesheet" />
<html>
<head>
    <h2>Contact</h2>
</head>
<body>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Images/vudeptrai.jpg" alt="Vu" style="width: 100%; height: 300px">
                <div class="container">
                    <h2>Vu Tran</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Vu@example.com</p>
                    <p><a href="https://www.facebook.com/ahvuit/" class="fa fa-facebook"></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/truong.jpg" alt="Truong" style="width: 100%; height: 300px ">
                <div class="container">
                    <h2>Truong Nguyen</h2>
                    <p class="title">Art Director</p>
                    <p>Truong@example.com</p>
                    <p><a href="https://www.facebook.com/4000mneh" class="fa fa-facebook"></a></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="~/Images/Hanh.png" alt="Hanh" style="width: 100%; height: 300px ">
                <div class="container">
                    <h2>Hanh Duy</h2>
                    <p class="title">Art Director</p>
                    <p>Hanh@example.com</p>
                    <p><a href="https://www.facebook.com/thanduyhanh.1704" class="fa fa-facebook"></a></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="~/Images/luan.jpg" alt="Luan" style="width: 100%; height: 300px">
                <div class="container">
                    <h2>Luan Tran</h2>
                    <p class="title">Art Director</p>
                    <p>Luan@example.com</p>
                    <p><a href="https://www.facebook.com/vietluan.tranle" class="fa fa-facebook"></a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>